html {
    background-color: floralwhite;
    z-index: -5;

}

body {
    margin: 0;
    padding: 0;
    left: 20vw;
    width: 60vw;
    min-height: 350vw;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350vw;
    background: url('static/background.png') center center scroll;
    background-size: 100% auto;
    filter: blur(3px);
    opacity: 0.15;
    z-index: -1;
}

.center-image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vw;
    width: 35vw;
    top: 6vw;
    left: calc(49.6% - 17.5vw); /* Center horizontally */
    z-index: 1;
}

.nav-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: white;
    background-color: rgb(128, 151, 152);
    border-radius: 50%;
    z-index: 2;
    width: 6vw; /* Adjust size of icons */
    height: 6vw; /* Adjust size of icons */
    font-size: 1.2vw;
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.nav-icon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: -0.3vw; /* Slightly larger than the icon itself */
    left: -0.3vw;
    right: -0.3vw;
    bottom: -0.3vw;
    border: 2px solid black; /* Visible part of the arc */
    opacity: 0; /* Start fully transparent */
    box-sizing: border-box;
}


.nav-icon::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: -0.6vw;
    left: -0.6vw;
    right: -0.6vw;
    bottom: -0.6vw;
    border: 2px solid black;
    opacity: 0;
    box-sizing: border-box;
}

.nav-icon::before {
    animation: rotate-clockwise 0.25s linear infinite paused;
    border-color: black transparent transparent transparent;
}

.nav-icon::after {
    animation: rotate-counter 0.25s linear infinite paused;
    border-color: transparent transparent black transparent;
}

@keyframes rotate-clockwise {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(540deg);
    }
}

@keyframes rotate-counter {
    from {
        transform: rotate(90deg);
    } to {
        transform: rotate(-360deg);
    }
}

.nav-icon:hover::before, .nav-icon:hover::after {
    animation-play-state: running;
    opacity: 1;
}


.nav-icon:hover::before {
    animation: rotate-clockwise 0.25s linear forwards;
}

.nav-icon:hover::after {
    animation: rotate-counter 0.25s linear forwards;
}

.nav-icon:hover {
    transform: scale(1.1);
}


.temp-icon {
    top: 18.5vw;
    left: calc(32.5% - 3vw);
}

.coding-icon {
    top: 11vw;
    left: calc(35% - 3vw);
}

.athletics-icon {
    top: 5vw;
    left: calc(41% - 3vw);
}

.home-icon {
    top: 2.5vw;
    left: calc(50% - 3vw);
}

.chess-icon {
    top: 5vw;
    left: calc(59% - 3vw);
}

.gallery-icon {
    top: 11vw;
    left: calc(65% - 3vw);
}

.resume-icon {
    top: 18.5vw;
    left: calc(67.5% - 3vw);
}

.content {
    position: relative;
    top: 38vw;
    left: 27.5vw;
    width: 45vw;
    text-align: center;
}

.contact-info {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: #111;
    color: white;
    padding: 20px;
    z-index: 3;
}

.contact-info a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
