html {
    background-color: floralwhite;
    z-index: -5;

}

body {
    display: flex;
    justify-content: center;
    align-items: start; /* Use 'center' if you want to vertically center the container as well */
    min-height: 100vh; /* Full viewport height */
    flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350vw;
    background: url('../static/background.png') center center scroll;
    background-size: 100% auto;
    filter: blur(3px);
    opacity: 0.1;
    z-index: -1;
}

.container {
    max-width: 60vw; /* Adjust this value if you need a wider or narrower container */
    margin: 40px auto; /* Top and bottom margin with auto left and right margin for centering */
    background-color: rgba(245, 230, 200, 0.65);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header, section {
    position: relative;
    padding-left: 40px; /* Space for the vertical line */
    margin-bottom: 30px;
}

section {
    background-color: rgba(229, 178, 84, 0.24);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
    padding: 15px;
}

article {
    position: relative;
}

/* Vertical line next to sections */
article:before {
    content: '';
    position: absolute;
    left: -9px; /* Start -5px before the article */
    top: 0; /* Start at the top edge of the article */
    bottom: 0; /* Stretch to the bottom edge of the article */
    width: 3px;
    background-color: #006699; /* Adjust the color as needed */
}

header {
    text-align: center;
}

header h1 {
    font-size: 48px; /* Adjust as needed */
    color: #006699; /* Replace with the actual color used */
    margin: 0 0 10px 0;
}

h2 {
    border-bottom: 2px solid #006699;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-bottom: 5px;
}

.skills-category, .skills, .licenses, .achievements, .projects .project {
    margin-bottom: 15px;
}

.skills-category p, .project ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.licenses ul, .achievements ul {
    list-style-type: none;
    padding-left: 20px;
}

.licenses li::before, .achievements li::before {
    content: '• ';
    color: #006699;
}


.contact a {
    color: #006699; /* Replace with the actual color used */
    text-decoration: none;
}

.contact a:hover, .contact a:focus {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Full-width on smaller screens */
    }

    header h1, h2 {
        font-size: 24px;
    }
}
